@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@{
    // Here we pull the data we sent from the homecontroller
    List<Todo> todos = ViewBag.TodoList;

    <h3>In completed List</h3>
    <br />
    // Freeze the drawn list using foreach
    foreach (Todo item in todos)
    {
        <div>
            <div>Title :@item.Title</div>
            <div>Completed :@item.IsCompleted</div>
            <br />
        </div>

    }
}
